.our_services{
  .container{
    width: 80%;
    margin: 1rem auto;
    ul{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
      flex-grow: 1;
      gap: 2rem;
      .service{
        max-width: 20vw;
        text-align: center;
        &_icon{
          width: 36px;
        }
      }
    }
  }
}