.our_services{
  .container{
    width: 80%;
    margin: 1rem auto;
    ul{
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1.5rem;
      .service{
        width: 320px;
        text-align: center;
        &_title{
          color: rebeccapurple;
          margin-bottom: 8px;
        }
        &_description{
          font-weight: 300;
        }
      }
    }
  }
}